{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{p.img.url}}" style="height:280px;width:360px;" alt="{{p.img.url}}">
        </div>
        <div class="col-sm-10">
            <div>
                <h1 style="color:red">{{p.name}} Full </h1>
                <p style="font-weight:bold;color:white;font-size:2rem;">{{p.price}} </p>
<a class="btn btn-primary" href="{% url 'cart:addtocart' p.id %}">addtocart</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
